@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

/* Font Setup */
:root {
  --font-sans: 'Space Grotesk', sans-serif;
  font-family: var(--font-sans);

  --radius: 0.625rem;

  --background: #edf1ff;
  --foreground: #0d111b;

  --card: #f3f5fc;
  --card-foreground: #03001C;

  --popover: #ffffff;
  --popover-foreground: #03001C;

  --primary: #89cbfa;
  --primary-foreground: #ffffff;

  --secondary: #63c7f5;
  --secondary-foreground: #364080;

  --muted: #e4ebf7;
  --muted-foreground: #6b7a99;

  --accent: #63c7f5;
  --accent-foreground: #1a1a33;

  --destructive: #ff5c5c;
  --border: #d8dce9;
  --input: #d8dce9;
  --ring: #579edc;

  --title: #579edc;
  --description: #10003e;
  --grid: #e1ecfe;
}

.dark {
  --background: #0d111b;
  --foreground: #edf1ff;

  --card: #1a1f2e;
  --card-foreground: #edf1ff;

  --popover: #202535;
  --popover-foreground: #edf1ff;

  --primary: #0d2a39;
  --primary-foreground: #11131f;

  --secondary: #404b66;
  --secondary-foreground: #edf1ff;

  --muted: #404b66;
  --muted-foreground: #9cb1d9;

  --accent: #63c7f5;
  --accent-foreground: #edf1ff;

  --destructive: #ff4d4f;
  --border: rgba(255, 255, 255, 0.12);
  --input: rgba(255, 255, 255, 0.16);
  --ring: #4d9fe2;

  --title: #B7E0FF;
  --description: #e8fdfc;

  --grid: #0e0f11;
}

.text-title {
  color: var(--title)
}

.text-description {
  color: var(--description)
}

.text-primary {
  color: var(--foreground);
}

.text-secondary {
  color: var(--secondary);
}

.text-card {
  color: var(--grid);
}
.bg-primary {
  background-color: var(--background);
}
.bg-secondary {
  background-color: var(--foreground);
}

.card {
  background-color: var(--card);
  color: var(--card-foreground);
  border-radius: var(--radius);
}

.popover {
  background-color: var(--popover);
  color: var(--popover-foreground);
}

/* === Background Grid Example === */
.bg-grid {
  background-image: var(--grid);
  background-size: 6rem 4rem;
}

/* === Animations === */
@keyframes spotlight
